<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>The Cart Items</h1>
    {% if request.session %}
    <table border="5">
      <thead>
        <th>Item Name</th>
        <th>Quantity</th>
      </thead>
      {% for key,value in request.session.items %}
      <tr>
        <td>{{key}}</td>
        <td>{{value}}</td>
      </tr>
      {% endfor %}
      {% else %}
      <p>No items in Shopping Cart</p>
      {% endif %}
    </table>
  </body>
</html>
